<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小小杂货铺-个人订单</title>
    <link href="/style/bill_page.css" rel="stylesheet">
    <script src="/scripts/bill-page.js" defer></script>

</head>
<body>
<header>
    <nav>
        <ul>
            <li class="logo"><a href="/">小小杂货铺</a></li>
            <li><a href="/page/classify">分类</a></li>
            <li><a href="/page/bill">订单</a></li>
            <li><a href="/page/cart">购物车</a></li>
            <li class="account"><a id="a_uid" href="/page/profile" th:text="${uid == null ? '登录' : uid }"></a></li>
            <li class="search">
                <form action="/page/search" method="get">
                    <input id="search-input" type="text" placeholder="搜索商品..." name="info"/>
                    <input id="search-button" type="submit" value="搜索"/>
                </form>
            </li>
            <li class="manage" th:if="${grade == 'admin'}"><a href="/page/management">管理网站</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="goods-list">
        <div  class="search-div-out">
            <h2>个人订单中心</h2>
            <form class="search-div" method="get" action="/page/bill">
                <input id="search" class="search" name="search" type="text"  placeholder="根据订单/商品名查询...">
                <input class="submit" type="submit" value="搜索">
            </form>
        </div>

        <br>
        <div th:if="${#lists.isEmpty(bills)}">
            <p>空</p>
        </div>
        <div class="goods" th:each="bill : ${bills}">

            <img class="goods-image" th:src="@{/images/goods/{goodsname}.png(goodsname=${bill.goodsname})}" th:alt="${bill.goodsname}">
            <div class="profile">
                <h5 th:text="${bill.goodsname}">Goods Title</h5>
                <p th:text="'订单号：'+${bill.billid}">billid</p>
            </div>
            <div  class="money">
                <p th:text="'数量：' + ${bill.amount}">amount</p>
                <p class="sum-price" th:text="'总价：￥' + ${bill.sumprice/100} + '.' + ${bill.sumprice%100}">Sum Price</p>
            </div>
            <div class="money">
                <p th:if="${bill.status == 'ongoing'}">处理中</p>
                <p th:if="${bill.status == 'finish'}">已完成</p>
                <p th:if="${bill.status == 'suspend'}">已中止</p>
            </div>
            <div th:if="${bill.status == 'ongoing'}">
                <button class="suspend-btn" th:if="${bill.status == 'ongoing'}" th:data-billid="${bill.billid}">取消订单</button>
                <button class="finish-btn" th:if="${bill.status == 'ongoing'}" th:data-billid="${bill.billid}">确认收货</button>
            </div>
        </div>

    </section>
</main>

<footer>
    <p>&copy; 2024 小小杂货铺 | 仅供学习测试使用</p>
</footer>

</body>
</html>