<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小小杂货铺-管理</title>

    <link href="/style/books_manage_page.css" rel="stylesheet">
    <script src="/scripts/books_manage_page.js" defer></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="logo"><a href="/">小小杂货铺</a></li>
            <li><a href="/page/classify">分类</a></li>
            <li><a href="/page/bill">订单</a></li>
            <li><a href="/page/cart">购物车</a></li>
            <li class="account"><a id="a_uid" href="/page/profile" th:text="${uid == null ? '登录' : uid }"></a></li>
            <li class="search">
                <form action="/page/search" method="get">
                    <input id="search-input" type="text" placeholder="搜索商品..." name="info"/>
                    <input id="search-button" type="submit" value="搜索"/>
                </form>
            </li>
            <li class="manage" th:if="${grade == 'admin'}"><a href="/page/management">管理网站</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="container">
        <!-- 左侧导航栏 -->
        <div class="sidebar">
            <ul>
                <li id="bill-management-btn" class="sidebar-item"><a href="/page/management">账单查询</a></li>
                <li id="order-management-btn" class="sidebar-item"><a href="/page/manage-orders">订单处理</a></li>
                <li id="book-management-btn" class="sidebar-item"><a href="/page/manage-books">商品管理</a></li>
                <li id="user-management-btn" class="sidebar-item"><a href="/page/manage-users">用户管理</a></li>
            </ul>
        </div>

        <!-- 右侧内容区域 -->
        <div class="content">
            <div class="search-div">
                <form class="search-div" method="get" action="/page/manage-books">
                    <input id="search" class="search" name="search" type="text" placeholder="根据编号或书名查询...">
                    <input class="submit" type="submit" value="搜索">
                </form>
            </div>
            <div th:if="${#lists.isEmpty(books)}">
                <p>暂无商品</p>
            </div>
            <div class="a-book" th:each="book : ${books}">
                <div class="profile">
                    <h5 th:text="'书籍编号：'+${book.bookid}">Book Title</h5>
                    <p th:text="'书名：'+${book.bookname}">Book Name</p>
                    <p th:text="'作者：'+${book.author}">author</p>
                </div>

                <div  class="money">
                    <p th:text="'类型：'+${book.booktype}">type</p>
                    <div>
                        单价(分)：
                        <input class="price-input" type="number" th:value="${book.price}">
                    </div>
                    <div>
                        库存：
                        <input class="stock-input" type="number" th:value="${book.stock}">
                    </div>
                </div>
                <button class="update-book"  th:data-bookid="${book.bookid}" >修改</button>
                <button class="delete-book"  th:data-bookid="${book.bookid}" >删除</button>
                <button class="buy-able" th:data-bookid="${book.bookid}" th:text="${book.available==1 ? '销售中' : '停售中'}"
                th:style="${book.available==1 ? '' : 'background-color: red;'}">销售中</button>

            </div>

        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 小小杂货铺 | 仅供学习测试使用</p>
</footer>
</body>
</html>