<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小小杂货铺-管理</title>

    <link href="/style/users_manage_page.css" rel="stylesheet">
    <script src="/scripts/users_manage_page.js" defer></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="logo"><a href="/">小小杂货铺</a></li>
            <li><a href="/page/classify">分类</a></li>
            <li><a href="/page/bill">订单</a></li>
            <li><a href="/page/cart">购物车</a></li>
            <li class="account"><a id="a_uid" href="/page/profile" th:text="${uid == null ? '登录' : uid }"></a></li>
            <li class="search">
                <form action="/page/search" method="get">
                    <input id="search-input" type="text" placeholder="搜索商品..." name="info"/>
                    <input id="search-button" type="submit" value="搜索"/>
                </form>
            </li>
            <li class="manage" th:if="${grade == 'admin'}"><a href="/page/management">管理网站</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="container">
        <!-- 左侧导航栏 -->
        <div class="sidebar">
            <ul>
                <li id="bill-management-btn" class="sidebar-item"><a href="/page/management">账单查询</a></li>
                <li id="order-management-btn" class="sidebar-item"><a href="/page/manage-orders">订单处理</a></li>
                <li id="goods-management-btn" class="sidebar-item"><a href="/page/manage-goodsList">商品管理</a></li>
                <li id="user-management-btn" class="sidebar-item"><a href="/page/manage-users">用户管理</a></li>
                <li id="ad-management-btn" class="sidebar-item"><a href="/page/manage-ad">广告管理</a></li>
            </ul>
        </div>

        <!-- 右侧内容区域 -->
        <div class="content">
            <div class="search-div">
                <form class="search-div" method="get" action="/page/manage-users">
                    <input id="search" class="search" name="search" type="text"  placeholder="根据uid查询...">
                    <input class="submit" type="submit" value="搜索">
                </form>
            </div>

            <div th:if="${#lists.isEmpty(userInfos)}">
                <p>暂无用户</p>
            </div>

            <div class="a-userInfo" th:each="userInfo : ${userInfos}">
                <div class="profile">
                    <h5 th:text="'账号：'+${userInfo.uid}">UserID</h5>
                    <p th:text="'昵称：'+${userInfo.username}">username</p>
                </div>

                <div  class="grade-form">
                    <p th:text="'当前权限：'+${userInfo.grade}">power</p>
                    <div>
                        <select class="grade-select" name="grade-select">
                            <option value="vip" th:selected="${userInfo.grade == 'vip'}">普通用户-vip</option>
                            <option value="admin" th:selected="${userInfo.grade == 'admin'}">管理员-admin</option>
                            <option value="banned" th:selected="${userInfo.grade == 'banned'}">封禁-banned</option>
                        </select>
                    </div>

                </div>
                <button class="update-grade"  th:data-uid="${userInfo.uid}" >修改权限</button>
                <button class="delete-user"  th:data-uid="${userInfo.uid}" >删除</button>
                <button class="update-profile" th:data-uid="${userInfo.uid}">修改简介</button>

            </div>

        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 小小杂货铺 | 仅供学习测试使用</p>
</footer>
</body>
</html>